<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI</title>

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/ss-junior.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="//use.typekit.net/wvg6knc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body>
  
  
  <div class="navbar">
            <div class="navbar-inner">
              <div>
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
                </button>
                <a href="#fakelink" class="navbar-brand">NoahBoard</a>
                <div class="nav-collapse collapse in" id="nav-collapse-01">
                  <ul class="nav">
                    <li class="active"><a href="#fakelink">Home</a></li>
                    <li>
                      <a href="#fakelink">Explore</a>
                    </li>
                    
                    <li>
                      <button data-toggle="modal" href="#create-modal" class="btn btn-embossed btn-inverse">
                        <span class="glyphicon glyphicon-plus text-green"></span> New Card
                      </button>
                    </li>
                   
                  </ul> <!-- /nav -->
                  
                  
                  
                  <div class="pull-right">
                  <form class="navbar-search" action="">
                    <div class="input-group input-group-sm">
											<input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default">
													<i class="fui-search"></i>
												</button>
											</span>            
										</div>                    
                  </form>
                  
                  <ul class="nav">
                    <li class="nav-notifications">
                      <a href="#"><span class="ss-activity"></span> <span class="navbar-new">1</span></a>
                      
                      <ul>
                        <li><h3>Notifications</h3></li>
                        <li><a href="#">Simon is following you</a></li>
                        <li><a href="#">Berk Liked your card How to be an entrepreneur</a></li>
                      </ul>
                      
                    </li>
                    
                    <li>
                      <a class="nav-user-link" href="#"><span class="thumbnail thumbnail-medium"><img src="images/icons/dude.svg"></span> Ghislaine Guerin</a>
                      
                       <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                      
                    </li>
                    
                  </ul>
                  
                  </div><!--/.pull-right -->
                  
                </div><!--/.nav-collapse -->
              </div>
              <div class="cut"></div>
            </div>
          </div>
  
  
  
  
    <div class="container">
      
      
      <div class="card-poster">
                <span class="thumbnail thumbnail-small"><img src="images/icons/dude.svg"></span> <p>Posted by <a href="#">Ghislaine Guerin</a> an hour ago</p>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-xs-9">
            <h2>How I decide what to charge for everything I create.</h2>
            
            <p>Always consider what your customer is actually receiving — results, tangible takeaways, the ability to finally do — not just how much ‘time’ and ‘energy’ you’re putting into the equation.</p>
            
            <p class="source">Source: Bootstraps and Web Kits: Enemy or Efficient? | from inserthtml.com</p>
            
          </div>
          <div class="col-xs-3">
            <div class="media-content">
              <a href="#" class="card-image">
              <img src="images/sample1.png">
              </a>
              <a href="#" class="card-image">
              <img src="images/sample2.jpg">
              </a>
            </div>
            
          </div>
        </div>
        
        <div class="card-bottom">
              
              <div class="card-controls pull-right">
                <a href="#"><span class="glyphicon glyphicon-comment"></span> Comment</a> <a  data-toggle="modal" href="#repost-modal" href="#"><span class="glyphicon glyphicon-retweet"></span> Repost</a> <a data-toggle="modal" href="#share-modal" href="#"><span class="glyphicon glyphicon-new-window"></span> Share</a>
              </div>
        
              <div class="card-tags">
                <a href="#">#freelance</a> <a href="#">#startups</a> <a href="#">#design</a>
              </div>
        
            </div>

      </div><!-- Card -->

<div class="card-stats"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a> <a href="#"><span class="glyphicon glyphicon-retweet"></span> 3 Reposts</a></div><!-- Stats -->



      <div class="card-poster">
                <span class="thumbnail thumbnail-small"><img src="images/icons/dude.svg"></span> <p>Posted by <a href="#">Ghislaine Guerin</a> an hour ago</p>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-xs-9">
            <h2>How I decide what to charge for everything I create.</h2>
            
            <p>Always consider what your customer is actually receiving — results, tangible takeaways, the ability to finally do — not just how much ‘time’ and ‘energy’ you’re putting into the equation.</p>
            
            <p class="source">Source: Bootstraps and Web Kits: Enemy or Efficient? | from inserthtml.com</p>
            
          </div>
          <div class="col-xs-3">
            <div class="media-content">
              <a href="#" class="card-image">
              <img src="images/sample1.png">
              </a>
              <a href="#" class="card-image">
              <img src="images/sample2.jpg">
              </a>
            </div>
            
          </div>
        </div>
        
        <div class="card-bottom">
              
              <div class="card-controls pull-right">
                <a href="#"><span class="glyphicon glyphicon-comment"></span> Comment</a> <a  data-toggle="modal" href="#repost-modal" href="#"><span class="glyphicon glyphicon-retweet"></span> Repost</a> <a data-toggle="modal" href="#share-modal" href="#"><span class="glyphicon glyphicon-new-window"></span> Share</a>
              </div>
        
              <div class="card-tags">
                <a href="#">#freelance</a> <a href="#">#startups</a> <a href="#">#design</a>
              </div>
        
            </div>

      </div><!-- Card -->

<div class="card-stats"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a> <a href="#"><span class="glyphicon glyphicon-retweet"></span> 3 Reposts</a></div><!-- Stats -->



      
    </div>
    <!-- /.container -->
    
    

      
       <!-- Modal -->
  <div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Share Card</h4>
        </div>
        <div class="modal-body">
          <div class="share-buttons">
            <button class="btn btn-social-pinterest mrs">
              <i class="fui-pinterest"></i>
              Pinterest
            </button>
            <button class="btn btn-social-linkedin mrs">
              <i class="fui-linkedin"></i>
              Linkedin
            </button>
          
            <button class="btn btn-social-googleplus mrs">
              <i class="fui-googleplus"></i>
              Google +
            </button>
            <button class="btn btn-social-facebook mrs">
              <i class="fui-facebook"></i>
              Facebook
            </button>
            <button class="btn btn-social-twitter">
              <i class="fui-twitter"></i>
              Twitter
            </button>
          </div>
        </div><!-- /.modal-body -->
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
   
       <!-- Modal -->
  <div class="modal fade" id="repost-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Repost Card</h4>
        </div>
        <div class="modal-body">
          
          
          <textarea rows="3" placeholder="Share your key takeaways from the card (Optional)" class="form-control"></textarea>
          
          <div class="modal-controls repost-controls">
          
          
          <div class="btn-group select select-block">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-dropdown" data-toggle="dropdown"><span class="filter-option pull-left">Expert Level</span>&nbsp;<span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu">
          <li><a href="#">Junior Level</a></li>
          <li><a href="#">Intermediate Level</a></li>
          <li><a href="#">Professional Level</a></li>
          <li class="selected"><a href="#">Expert Level</a></li>
          </ul></div><!-- /.btn-group -->
          
          
          <div class="btn-group select select-block">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-dropdown" data-toggle="dropdown"><span class="filter-option pull-left">Design & User Experience</span>&nbsp;<span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu">
          <li><a href="#">Category</a></li>
          <li><a href="#">Category</a></li>
          <li><a href="#">Category</a></li>
          <li class="selected"><a href="#">Category</a></li>
          </ul></div><!-- /.btn-group -->
          
          
          </div>
          
          
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Repost Card</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
  
  
    <!-- Modal -->
  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Post a knowledge card</h4>
        </div>
        <div class="modal-body create-post">
          
          <input type="text" placeholder="Subject" class="form-control flat" />
          <textarea rows="3" placeholder="Share your key learnings" class="form-control"></textarea>
          
          
        
            <div class="media-controls">
            <ul class="nav nav-tabs nav-append-content">
              <li class="active"><a href="#tab4"><span class="ss-picture"></span></a></li>
              <li class=""><a href="#tab5"><span class="ss-video"></span></a></li>
              <li class=""><a href="#tab6"><span class="ss-link"></span></a></li>
              <li class=""><a href="#tab7"><span class="ss-tag"></span></a></li>
            </ul> <!-- /tabs -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab4">
                <input type="text" placeholder="Choose Image..." class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab5">
                <input type="text" placeholder="Choose Video..." class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab6">
                <input type="text" placeholder="Enter URL" class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab7">
                <input type="text" placeholder="Enter Tags" class="form-control flat" />
              </div>
            </div> <!-- /tab-content -->
          </div>
          
          
          
          <div class="modal-controls repost-controls">
          
          
          <div class="btn-group select select-block">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-dropdown" data-toggle="dropdown"><span class="filter-option pull-left">Set Level</span>&nbsp;<span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu">
          <li><a href="#">Junior Level</a></li>
          <li><a href="#">Intermediate Level</a></li>
          <li><a href="#">Professional Level</a></li>
          <li><a href="#">Expert Level</a></li>
          </ul></div><!-- /.btn-group -->
          
          
          <div class="btn-group select select-block">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-dropdown" data-toggle="dropdown"><span class="filter-option pull-left">Set Category</span>&nbsp;<span class="caret"></span></button>
          
          <ul class="dropdown-menu" role="menu">
          <li><a href="#">Category</a></li>
          <li><a href="#">Category</a></li>
          <li><a href="#">Category</a></li>
          <li><a href="#">Category</a></li>
          </ul></div><!-- /.btn-group -->
          
          
          </div>
          
          
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Post Card</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  
  

    


    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>