<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: gxls9vtr7moe
    </script>

</head>
<body>

<!-- <script type="IN/Login"> -->
    <form action="/nb_webapp/register/" method="GET">
        <p>Your Name: <input type="text" name="name" value="<?js= firstName ?> <?js= lastName ?>"/></p>
        <input type="hidden" name="linkedin-id" value="<?js= id ?>"/>
        <input type="submit" name="submit" value="Register"/>
    </form>
<!-- </script> -->

</body>
</html>
