<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI</title>

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/ss-junior.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="//use.typekit.net/wvg6knc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body>
  
  
  <div class="navbar">
            <div class="navbar-inner">
              <div>
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
                </button>
                <a href="#fakelink" class="navbar-brand">NoahBoard</a>
                <div class="nav-collapse collapse in" id="nav-collapse-01">
                  <ul class="nav">
                    <li><a href="#fakelink">Home</a></li>
                    <li>
                      <a href="#fakelink">Explore</a>
                    </li>
                    
                    <li>
                      <button data-toggle="modal" href="#create-modal" class="btn btn-embossed btn-inverse">
                        <span class="glyphicon glyphicon-plus text-green"></span> New Card
                      </button>
                    </li>
                   
                  </ul> <!-- /nav -->
                  
                  
                  
                  <div class="pull-right">
                  <form class="navbar-search" action="">
                    <div class="input-group input-group-sm">
											<input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default">
													<i class="fui-search"></i>
												</button>
											</span>            
										</div>                    
                  </form>
                  
                  <ul class="nav">
                    <li class="nav-notifications">
                      <a href="#"><span class="ss-activity"></span> <span class="navbar-new">1</span></a>
                      
                      <ul>
                        <li><h3>Notifications</h3></li>
                        <li><a href="#">Simon is following you</a></li>
                        <li><a href="#">Berk Liked your card How to be an entrepreneur</a></li>
                      </ul>
                      
                    </li>
                    
                    <li>
                      <a class="nav-user-link" href="#"><span class="thumbnail thumbnail-medium"><img src="images/icons/dude.svg"></span> Ghislaine Guerin</a>
                      
                       <ul>
                        <li><a href="profile.hmtl">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                      
                    </li>
                    
                  </ul>
                  
                  </div><!--/.pull-right -->
                  
                </div><!--/.nav-collapse -->
              </div>
              <div class="cut"></div>
            </div>
          </div>
  
  
  
  
    <div class="container">
    
      
      
            <div class="card-poster">
                <span class="thumbnail thumbnail-small"><img src="images/icons/dude.svg"></span> <p>Posted by <a href="#">Ghislaine Guerin</a> an hour ago</p>
      </div>
      
      <div class="card card-full">
            <h2>How I decide what to charge for everything I create.</h2>
            
            <p>Always consider what your customer is actually receiving — results, tangible takeaways, the ability to finally do — not just how much ‘time’ and ‘energy’ you’re putting into the equation.</p>
            
            <p class="source">Source: Bootstraps and Web Kits: Enemy or Efficient? | from inserthtml.com</p>
            
          
        
       
            
            
            
            <div class="media-content">
              <a href="#" class="card-image">
              <img src="images/sample1.png">
              </a>
              <a href="#" class="card-image">
              <img src="images/sample2.jpg">
              </a>
            </div>
            
            
            
             <div class="card-bottom">
              
              <div class="card-controls pull-right">
                <a href="#"><span class="glyphicon glyphicon-comment"></span> Comment</a> <a  data-toggle="modal" href="#repost-modal" href="#"><span class="glyphicon glyphicon-retweet"></span> Repost</a> <a data-toggle="modal" href="#share-modal" href="#"><span class="glyphicon glyphicon-new-window"></span> Share</a>
              </div>
        
              <div class="card-tags">
                <a href="#">#freelance</a> <a href="#">#startups</a> <a href="#">#design</a>
              </div>
        
            </div>
            
            
            <div class="mtl">
            
              <h4 class="mbl">Comments (2)</h4>
            
              <div class="card-comment">
                <span class="thumbnail thumbnail-medium"><img src="images/icons/dude.svg"></span>
                <div class="comment-content">
                <p class="poster">Comment by <a href="#">Ghislaine Guerin</a> an hour ago</p>
                The log below outlines all the stages which have been carried out for this deployment. This table updates automatically when the deployment is running.</div>
              </div><!-- Card comment -->
              
              
               <div class="card-comment">
                <span class="thumbnail thumbnail-medium"><img src="images/icons/dude.svg"></span>
                <div class="comment-content">
                <p class="poster">Comment by <a href="#">Ghislaine Guerin</a> an hour ago</p>
                The log below outlines all the stages which have been carried out for this deployment. This table updates automatically when the deployment is running.</div>
              </div><!-- Card comment -->
        
            </div>
            

      </div><!-- Card -->

<div class="card-stats"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a> <a href="#"><span class="glyphicon glyphicon-retweet"></span> 3 Reposts</a></div><!-- Stats -->
      
      
      
        
    
    </div>
        <!-- /.container -->
    
    

      
    

  
  

    


    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>