<!DOCTYPE html>
<html>
<head>
    <title>Sign up and Log in</title>
</head>

<body>
    <form>
        {% csrf_token %}
        <p>Email Address: <input type="text" name="account_email"/></p>
        <p>Password: <input type = "password" name="password"/></p>
        <input type="submit" name="Sign up" value="sign_up" formaction="{% url 'nb_webapp:signup' %}" formmethod="post"/>
        <input type="submit" name="Log in" value = "login" formaction="{% url 'nb_webapp:login' %}" formmethod="post"/>
    </form>
</body>
</html>