<!DOCTYPE html>
<html>
<head>
    <title>Post a new Knowledge Card</title>
</head>
<body>
    <form action="{% url 'post'  %}" method="post">
        {% csrf_token %}
        <p>title:  <input type="text" name="title"/></p>
        <p>contents: <input type = "text" name="contents"/></p>
        <p>video_link: <input tpe = "url" name="video_link"></p>
        <p>source_link: <input type = "url" name="source_link"></p>
        <p>tags: <input type = "text" name="tags"></p>
        <input type="submit" name="submit" value="submit"/>
    </form>
</body>
</html>