<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI</title>

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fonts/ss-junior.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="//use.typekit.net/wvg6knc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body>
  
  
  <div class="navbar">
            <div class="navbar-inner">
              <div>
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
                </button>
                <a href="#fakelink" class="navbar-brand">NoahBoard</a>
                <div class="nav-collapse collapse in" id="nav-collapse-01">
                  <ul class="nav">
                    <li><a href="#fakelink">Home</a></li>
                    <li>
                      <a href="#fakelink">Explore</a>
                    </li>
                    
                    <li>
                      <button data-toggle="modal" href="#create-modal" class="btn btn-embossed btn-inverse">
                        <span class="glyphicon glyphicon-plus text-green"></span> New Card
                      </button>
                    </li>
                   
                  </ul> <!-- /nav -->
                  
                  
                  
                  <div class="pull-right">
                  <form class="navbar-search" action="">
                    <div class="input-group input-group-sm">
											<input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-default">
													<i class="fui-search"></i>
												</button>
											</span>            
										</div>                    
                  </form>
                  
                  <ul class="nav">
                    <li class="nav-notifications">
                      <a href="#"><span class="ss-activity"></span> <span class="navbar-new">1</span></a>
                      
                      <ul>
                        <li><h3>Notifications</h3></li>
                        <li><a href="#">Simon is following you</a></li>
                        <li><a href="#">Berk Liked your card How to be an entrepreneur</a></li>
                      </ul>
                      
                    </li>
                    
                    <li>
                      <a class="nav-user-link" href="#"><span class="thumbnail thumbnail-medium"><img src="images/icons/dude.svg"></span> Ghislaine Guerin</a>
                      
                       <ul>
                        <li><a href="profile.hmtl">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                      
                    </li>
                    
                  </ul>
                  
                  </div><!--/.pull-right -->
                  
                </div><!--/.nav-collapse -->
              </div>
              <div class="cut"></div>
            </div>
          </div>
  
  
  
  
    <div class="container">
      
      
      
      <div class="user-profile">
        <div class="profile-header">
        
          <div class="row">
          
            <div class="col-xs-2"><div class="thumbnail thumbnail-large"><img src="images/icons/dude.svg"></div></div>
            <div class="col-xs-7">
              <h1>Ghislaine Guerin</h1>
              <p class="country"><span class="ss-globe"></span>United States of America - Female</p>
              <p class="bio">International entrepreneur in the Internet space, I want to make a difference to the world !</p>
            </div>
            <div class="col-xs-3">
              <div class="profile-status">
              <a href="#fakelink" class="btn btn-success"><span class="ss-check inline-icon"></span> Following</a>
              </div>
            </div>
          
          </div>
        
        
        
          
        </div>
        
        
            <ul class="nav nav-tabs nav-append-content">
              <li class="active"><a href="#tab4"><span class="label label-default">23</span> Cards</a></li>
              <li class=""><a href="#tab5"><span class="label label-default">34</span> Tags</a></li>
              <li class=""><a href="#tab6"><span class="label label-default">23</span> Thumbs</a></li>
              <li class=""><a href="#tab7"><span class="label label-default">12</span> Followings</a></li>
              <li class=""><a href="#tab8"><span class="label label-default">14</span> Followers</a></li>
            </ul> <!-- /tabs -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab4">
              
                    <div class="card-poster">
                <span class="thumbnail thumbnail-small"><img src="images/icons/dude.svg"></span> <p>Posted by <a href="#">Ghislaine Guerin</a> an hour ago</p>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-xs-9">
            <h2>How I decide what to charge for everything I create.</h2>
            
            <p>Always consider what your customer is actually receiving — results, tangible takeaways, the ability to finally do — not just how much ‘time’ and ‘energy’ you’re putting into the equation.</p>
            
            <p class="source">Source: Bootstraps and Web Kits: Enemy or Efficient? | from inserthtml.com</p>
            
          </div>
          <div class="col-xs-3">
            <div class="media-content">
              <a href="#" class="card-image">
              <img src="images/sample1.png">
              </a>
              <a href="#" class="card-image">
              <img src="images/sample2.jpg">
              </a>
            </div>
            
          </div>
        </div>
        
        <div class="card-bottom">
              
              <div class="card-controls pull-right">
                <a href="#"><span class="glyphicon glyphicon-comment"></span> Comment</a> <a  data-toggle="modal" href="#repost-modal" href="#"><span class="glyphicon glyphicon-retweet"></span> Repost</a> <a data-toggle="modal" href="#share-modal" href="#"><span class="glyphicon glyphicon-new-window"></span> Share</a>
              </div>
        
              <div class="card-tags">
                <a href="#">#freelance</a> <a href="#">#startups</a> <a href="#">#design</a>
              </div>
        
            </div>

      </div><!-- Card -->

<div class="card-stats"><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a> <a href="#"><span class="glyphicon glyphicon-retweet"></span> 3 Reposts</a></div><!-- Stats -->



              
              </div><!-- /tab4 -->
              <div class="tab-pane" id="tab5">
                <input type="text" placeholder="Choose Video..." class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab6">
                <input type="text" placeholder="Enter URL" class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab7">
                <input type="text" placeholder="Enter Tags" class="form-control flat" />
              </div>
              <div class="tab-pane" id="tab8">
                <input type="text" placeholder="Enter Tags" class="form-control flat" />
              </div>
            </div> <!-- /tab-content -->

        
      </div>
      
      
      


      
    </div>
    <!-- /.container -->
    
    

      
    

  
  

    


    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>